/* Pour que la bannière d'annonce ne fasse pas perdre de place en hauteur quand il n'y a pas d'annonce */
#announcement-banner {
    padding: 0px;
}

/* Fond gris pour mieux séparer les différents élements du détail d'une demande */
.issue-body-content .module > .mod-header {
    background: #E6E6E6;
}

/* Pour réduire la taille de la colonne de droite du détail d'une demande */
#viewissuesidebar, .skinny .split-view #viewissuesidebar {
    width: 20%;
	padding-left: 10px;
}
.item-details dl > dt {
    width: 80px;
}
.people-details > dl:first-child, .people-details > dl:first-child + dl {
    line-height: normal;
}

/* Pour que le texte soit plus petit et l'interligne moins grand dans le détail d'une demande */
body {
    font-size: 12px;
    line-height: normal;
}
.drop-menu {
    height: 14px;
}
.aui-tabs {
    font-size: 12px;
    line-height: normal;
}
form.aui div.description {
    line-height: normal;
}
h1 {
    font-size: 22px;
    line-height: normal;
}

/* Pour que le texte soit plus petit et l'interligne moins grand dans un écran de modification d'une demande */
form.aui div.description {
    font-size: 10px;
	margin: 0px 0px 5px;
}
form.aui .field-group{
    padding: 1px 0px 1px 145px;
    margin: 0px 0px;
}

/* Pour limiter les espaces inutiles dans le détail d'une demande */
.issue-body-content .module + .module {
    margin-top: 2px;
    padding-top: 2px;
}
.issue-header .issue-header-content > .aui-page-header {
    padding: 5px 20px 9px;
}
/* Pour que les zones de saisie puissent être plus larges dans le détail d'une demande */
form.aui .long-field {
    max-width: 1000px;
}
form.aui .jira-multi-select.long-field, .jiraform .jira-multi-select.long-field, form.aui .jira-multi-select.long-field > textarea, .jiraform .jira-multi-select.long-field > textarea {
    max-width: 1000px;
}
form.aui .aui-ss.long-field, .jiraform .aui-ss.long-field, form.aui .aui-ss.long-field > input, .jiraform .aui-ss.long-field > input {
    max-width: 1000px;
}

/* Pour que le changement de taille de police n'affecte pas les listes déroulantes dans le détail d'une demande*/
form.aui .select {
    padding: 4px 5px;
}

/* Pour que les éléments de menu en haut restent en 14px
   (JIRA ne sait de toutes façons pas exploiter l'espace restant dans le menu "Demandes" : il tronque
   toujours les libellés de filtre au même endroit)
*/
.aui-header, .aui-dropdown2.aui-style-default {
    font-size: 14px;
}