/* 
Custom CSS for JIRA, to "condense" the layout

Tested on JIRA 6.3.15

Code distributed under LGPL v3 license
Author : Mossroy
*/

/* So that the announcement banner does not eat some vertical space when there is no real announcement */
#announcement-banner {
    padding: 0px;
}

/* Grey background to have a clearer separation between zones of a detail view */
.issue-body-content .module > .mod-header {
    background: #E6E6E6;
}

/* To reduce the right column width of a detail view */
#viewissuesidebar, .skinny .split-view #viewissuesidebar {
    width: 20%;
	padding-left: 10px;
}
.item-details dl > dt {
    width: 80px;
}
.people-details > dl:first-child, .people-details > dl:first-child + dl {
    line-height: normal;
}

/* So that the text is smaller, and to reduce space between lines, in a detail view */
body {
    font-size: 12px;
    line-height: normal;
}
.drop-menu {
    height: 14px;
}
.aui-tabs {
    font-size: 12px;
    line-height: normal;
}
form.aui div.description {
    line-height: normal;
}
h1 {
    font-size: 22px;
    line-height: normal;
}

/* So that the text is smaller, to reduce space between lines, in a modification view */
form.aui div.description {
    font-size: 10px;
	margin: 0px 0px 5px;
}
form.aui .field-group{
    padding: 1px 0px 1px 145px;
    margin: 0px 0px;
}

/* To limit some more unused space in a detail view */
.issue-body-content .module + .module {
    margin-top: 2px;
    padding-top: 2px;
}
.issue-header .issue-header-content > .aui-page-header {
    padding: 5px 20px 9px;
}
/* So that the form fields can be larger in a creation view */
form.aui .long-field {
    max-width: 1000px;
}
form.aui .jira-multi-select.long-field, .jiraform .jira-multi-select.long-field, form.aui .jira-multi-select.long-field > textarea, .jiraform .jira-multi-select.long-field > textarea {
    max-width: 1000px;
}
form.aui .aui-ss.long-field, .jiraform .aui-ss.long-field, form.aui .aui-ss.long-field > input, .jiraform .aui-ss.long-field > input {
    max-width: 1000px;
}

/* So that the dropdown lists (custom fields for example)  in a creation view are not corrupt by the text size change */
form.aui .select {
    padding: 4px 5px;
}

/* So that the main dropdown lists at the top of the screen are not affected by the text size change (and stay with 14px)
    (In any case, JIRA would not use the extra free space : it still truncates the filter labels the same way)
*/
.aui-header, .aui-dropdown2.aui-style-default {
    font-size: 14px;
}